
:root{
    /*------------------------------------ Color ------------------------------*/
    --text-color:#444;
    --primary : #FF6348;
    --grey: #20232a;
    --grey2: #fefefe;
    /*--------------------------------- Font family ------------------------------*/
    --montserrat : 'Montserrat', sans-serif;
    --box-shadow-nav:0 2px 18px 0 rgb(0 0 0/22%);
    /*------------------------------- Box shadow --------------------------------*/
    --box-shadow: 0 6px 9px 0 rgb(0 0 0/15%);
    --box-shadow-nav: 0 2px 18px 0 rgb(0 0 0/22%);
}